<main id="main-container" style="min-height: 1283px;">
    <!-- Page Content -->
    <div class="content">
        <!-- Forms Row -->
        <div class="row">
            <div class="col-sm-6">
                <div class="block">
                    <div class="block-header">
                        <h3 class="block-title">Default Elements</h3>
                    </div>
                    <div class="block-content">
                        <form class="form-horizontal" action="base_forms_elements.html" method="post" enctype="multipart/form-data" onsubmit="return false;">
                            <div class="form-group">
                                <label class="col-xs-12" for="example-text-input">Text</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="example-text-input" name="example-text-input" placeholder="Text..">
                                    <div class="help-block">Further info about this input</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12" for="example-email-input">Email</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="email" id="example-email-input" name="example-email-input" placeholder="Email..">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12" for="example-password-input">Password</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="password" id="example-password-input" name="example-password-input" placeholder="Password..">
                                </div>
                            </div>
                            <div class="form-group has-primary">
                                <label class="col-xs-12" for="example-text-input-Primary">Primary State</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="example-text-input-primary" name="example-text-input-primary" placeholder="Primary State..">
                                </div>
                            </div>
                            <div class="form-group has-success">
                                <label class="col-xs-12" for="example-text-input-success">Success State</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="example-text-input-success" name="example-text-input-success" placeholder="Success State..">
                                </div>
                            </div>
                            <div class="form-group has-info">
                                <label class="col-xs-12" for="example-text-input-info">Info State</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="example-text-input-info" name="example-text-input-info" placeholder="Info State..">
                                </div>
                            </div>
                            <div class="form-group has-warning">
                                <label class="col-xs-12" for="example-text-input-warning">Warning State</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="example-text-input-warning" name="example-text-input-warning" placeholder="Warning State..">
                                </div>
                            </div>
                            <div class="form-group has-error has-feedback">
                                <label class="col-xs-12" for="example-text-input-error">Error State</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="example-text-input-error" name="example-text-input-error" placeholder="Error State..">
                                    <span class="fa fa-times form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12" for="example-disabled-input">Disabled</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="example-disabled-input" name="example-disabled-input" placeholder="Disabled.." disabled="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12" for="example-textarea-input">Textarea</label>
                                <div class="col-xs-12">
                                    <textarea class="form-control" id="example-textarea-input" name="example-textarea-input" rows="6" placeholder="Content.."></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12" for="example-select">Select</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="example-select" name="example-select" size="1">
                                        <option value="0">Please select</option>
                                        <option value="1">Option #1</option>
                                        <option value="2">Option #2</option>
                                        <option value="3">Option #3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12" for="example-multiple-select">Multiple Select</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="example-multiple-select" name="example-multiple-select" size="5" multiple="">
                                        <option value="1">Option #1</option>
                                        <option value="2">Option #2</option>
                                        <option value="3">Option #3</option>
                                        <option value="4">Option #4</option>
                                        <option value="5">Option #5</option>
                                        <option value="6">Option #6</option>
                                        <option value="7">Option #7</option>
                                        <option value="8">Option #8</option>
                                        <option value="9">Option #9</option>
                                        <option value="10">Option #10</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- Datetimepicker (Default forms) -->
                <div class="block">
                    <div class="block-header">
                        <ul class="block-options">
                            <li>
                                <button type="button"><i class="si si-settings"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title">Pickers</h3>
                    </div>
                    <div class="block-content">
                        <form class="form-horizontal" action="base_forms_pickers_more.html" method="post" onsubmit="return false;">
                            <div class="form-group has-feedback">
                                <label class="col-md-12" for="example-datetimepicker3">Full options</label>
                                <div class="col-md-9">
                                    <input class="form-control js-datetimepicker date" type="text" id="example-datetimepicker3" name="example-datetimepicker3" placeholder="Choose a date.." data-show-today-button="true" data-show-clear="true" data-show-close="true">
                                    <span class="fa fa-calendar form-control-feedback"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="block"> <div class="block-header">
                        <h3 class="block-title">Checkboxes</h3>
                    </div>
                    <div class="block-content">
                        <div class="row items-push">
                            <div class="col-xs-6">
                                <label class="css-input css-checkbox css-checkbox-default">
                                    <input type="checkbox" checked=""><span></span> Default
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="css-input css-checkbox css-checkbox-primary">
                                    <input type="checkbox" checked=""><span></span> Primary
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="css-input css-checkbox css-checkbox-info">
                                    <input type="checkbox" checked=""><span></span> Info
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="css-input css-checkbox css-checkbox-success">
                                    <input type="checkbox" checked=""><span></span> Success
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="css-input css-checkbox css-checkbox-warning">
                                    <input type="checkbox" checked=""><span></span> Warning
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="css-input css-checkbox css-checkbox-danger">
                                    <input type="checkbox" checked=""><span></span> Danger
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="block-header">
                        <h3 class="block-title">Radios</h3>
                    </div>
                    <div class="block-content">
                        <div class="row items-push">
                            <div class="col-xs-6">
                                <label class="css-input css-radio css-radio-default push-10-r">
                                    <input type="radio" name="radio-group1" checked=""><span></span> Yes
                                </label>
                                <label class="css-input css-radio css-radio-default">
                                    <input type="radio" name="radio-group1"><span></span> No
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="css-input css-radio css-radio-primary push-10-r">
                                    <input type="radio" name="radio-group2" checked=""><span></span> Yes
                                </label>
                                <label class="css-input css-radio css-radio-primary">
                                    <input type="radio" name="radio-group2"><span></span> No
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="css-input css-radio css-radio-info push-10-r">
                                    <input type="radio" name="radio-group3" checked=""><span></span> Yes
                                </label>
                                <label class="css-input css-radio css-radio-info">
                                    <input type="radio" name="radio-group3"><span></span> No
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="css-input css-radio css-radio-success push-10-r">
                                    <input type="radio" name="radio-group4" checked=""><span></span> Yes
                                </label>
                                <label class="css-input css-radio css-radio-success">
                                    <input type="radio" name="radio-group4"><span></span> No
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="css-input css-radio css-radio-warning push-10-r">
                                    <input type="radio" name="radio-group5" checked=""><span></span> Yes
                                </label>
                                <label class="css-input css-radio css-radio-warning">
                                    <input type="radio" name="radio-group5"><span></span> No
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="css-input css-radio css-radio-danger push-10-r">
                                    <input type="radio" name="radio-group6" checked=""><span></span> Yes
                                </label>
                                <label class="css-input css-radio css-radio-danger">
                                    <input type="radio" name="radio-group6"><span></span> No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="block-header">
                        <h3 class="block-title">Switches</h3>
                    </div>
                    <div class="block-content">
                        <div class="row items-push">
                            <div class="col-xs-6">
                                <label class="css-input switch switch-default">
                                    <input type="checkbox" checked=""><span></span> Default
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="css-input switch switch-primary">
                                    <input type="checkbox" checked=""><span></span> Primary
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="css-input switch switch-info">
                                    <input type="checkbox" checked=""><span></span> Info
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="css-input switch switch-success">
                                    <input type="checkbox" checked=""><span></span> Success
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="css-input switch switch-warning">
                                    <input type="checkbox" checked=""><span></span> Warning
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="css-input switch switch-danger">
                                    <input type="checkbox" checked=""><span></span> Danger
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Datetimepicker (Default forms) -->
            </div>
        </div>
        <!-- END Forms Row -->
    </div>
    <!-- END Page Content -->
</main>
