<main id="main-container" class="main-container-wrapper">
    <!-- Page Content -->
    <div class="content-wrapper m-0">
        <div class="content-wrapper__block block-wrapper d-flex">
            <div class="block-wrapper__filter filter-wrapper">
                ${require('./sidebar.html')}
            </div>
            <div class="block-wrapper__products products-wrapper">
                ${require('./products.html')}
            </div>
        </div>
    </div>
    <!-- END Page Content -->
</main>
