<nav id="sidebar">
    <!-- Sidebar Scroll Container -->
    <div>
        <!-- Sidebar Content -->
        <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
        <div class="sidebar-content">
            <!-- $#{require('./branding/branding&#45;default.html')} -->
            ${require('./branding/branding-hcsg.html')}
            <!-- Side Content -->
            <div class="side-content side-content-full">
                <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                    <i class="fa fa-times"></i>
                </button>
                <ul class="nav-main">
                    <li>
                        <a class="dashboard vh-icon vh-icon-dashboard" href="/"><span class="sidebar-mini-hide">Dashboard</span></a>
                    </li>
                    <li>
                        <a class="nav-submenu vh-icon vh-icon-calendar" data-toggle="nav-submenu" href="#"><span class="sidebar-mini-hide">Interface</span></a>
                        <ul>
                            <li>
                                <a href="/vhui-tabs.html">Tabs</a>
                            </li>
                            <li>
                                <a href="/vhui-buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a href="/vhui-modals.html">Modals</a>
                            </li>
                            <li>
                                <a href="/vhui-forms.html">Forms</a>
                            </li>
                            <li>
                                <a href="/vhui-theme-1.html">Theme #1</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-submenu vh-icon vh-icon-admin" data-toggle="nav-submenu" href="#"><span class="sidebar-mini-hide">Admin</span></a>
                        <ul>
                            <li>
                                <a href="#">Clients</a>
                            </li>
                            <li>
                                <a class="" href="#">Monitoring</a>
                            </li>
                            <li>
                                <a href="#">Reporting</a>
                            </li>
                            <li>
                                <a href="#">Locations</a>
                            </li>
                            <li>
                                <a href="#">Logs</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-submenu vh-icon vh-icon-records" href="#"><span class="sidebar-mini-hide">Records</span></a>
                    </li>
                    <li>
                        <a class="nav-submenu vh-icon vh-icon-interact" href="#"><span class="sidebar-mini-hide">Interact</span></a>
                    </li>
                    <li>
                        <a class="nav-submenu vh-icon vh-icon-services" href="#"><span class="sidebar-mini-hide">Services</span></a>
                    </li>
                    <li>
                        <a class="nav-submenu vh-icon vh-icon-provider" href="#"><span class="sidebar-mini-hide">Provider</span></a>
                    </li>
                    <li>
                        <a class="vh-icon vh-icon-calendar" href="#"><span class="sidebar-mini-hide">Calendar</span></a>
                    </li>
                </ul>
            </div>
            <!-- END Side Content -->
        </div>
        <!-- Sidebar Content -->
    </div>
    <!-- END Sidebar Scroll Container -->
</nav>
