<div class="products-content d-flex flex-column align-items-start w-100">
    <h1 class="products-content__title text-uppercase font-weight-normal">Смартфоны</h1>
    <div class="products-content__sort sort-content w-100 d-flex align-items-center">
        <p class="sort-content__text m-0">Сортировать:</p>
        <a class="sort-content__text m-0 link">по рейтингу</a>
        <a class="sort-content__text m-0 link">по возрастанию цены</a>
        <a class="sort-content__text m-0 link">по убыванию цены</a>
        <a class="sort-content__text m-0 link">по новизне</a>
    </div>
    <div class="products-content__list list-content w-100 d-flex flex-wrap">
        ${require('./product-card.html')}
        ${require('./product-card.html')}
        ${require('./product-card.html')}
        ${require('./product-card.html')}
        ${require('./product-card.html')}
        ${require('./product-card.html')}
</div>