<div class="sidebar-wrapper d-flex flex-column w-100">
    <div class="sidebar-wrapper__parameters parameters-wrapper d-flex flex-column w-100">
        <div class="parameters-wrapper__title title-wrapper d-flex w-100 justify-content-between align-items-center toggle">
            <h5 class="title">Параметры</h5>
            <div class="parameter-triangle "></div>
        </div>
        <div class="parameters-wrapper__parameter-content parameter-content-wrapper d-none">
            <div class="parameter-content-wrapper__description description-wrapper d-flex float-left">
                <label class="checkbox-container">
                    <input type="checkbox" name="parameterSelect" class="description-wrapper__checkbox">
                    <span class="description-wrapper__custom-checkbox"></span>
                </label>
                <p>Техника</p>
            </div>
            <div class="parameter-content-wrapper__count float-right">(15)</div>
        </div>
        <div class="parameters-wrapper__parameter-content parameter-content-wrapper">
            <div class="parameter-content-wrapper__description description-wrapper d-flex float-left">
                <label class="checkbox-container">
                    <input type="checkbox" name="parameterSelect" class="description-wrapper__checkbox">
                    <span class="description-wrapper__custom-checkbox"></span>
                </label>
                <p>Техника</p>
            </div>
            <div class="parameter-content-wrapper__count float-right">(15)</div>
        </div>
        <div class="parameters-wrapper__parameter-content parameter-content-wrapper">
            <div class="parameter-content-wrapper__description description-wrapper d-flex float-left">
                <label class="checkbox-container">
                    <input type="checkbox" name="parameterSelect" class="description-wrapper__checkbox">
                    <span class="description-wrapper__custom-checkbox"></span>
                </label>
                <p>Техника</p>
            </div>
            <div class="parameter-content-wrapper__count float-right">(15)</div>
        </div>
        <div class="parameters-wrapper__parameter-content parameter-content-wrapper">
            <div class="parameter-content-wrapper__description description-wrapper d-flex float-left">
                <label class="checkbox-container">
                    <input type="checkbox" name="parameterSelect" class="description-wrapper__checkbox">
                    <span class="description-wrapper__custom-checkbox"></span>
                </label>
                <p>Техника</p>
            </div>
            <div class="parameter-content-wrapper__count float-right">(15)</div>
        </div>
        <div class="parameters-wrapper__parameter-content parameter-content-wrapper">
            <div class="parameter-content-wrapper__description description-wrapper d-flex float-left">
                <label class="checkbox-container">
                    <input type="checkbox" name="parameterSelect" class="description-wrapper__checkbox">
                    <span class="description-wrapper__custom-checkbox"></span>
                </label>
                <p>Техника</p>
            </div>
            <div class="parameter-content-wrapper__count float-right">(15)</div>
        </div>
        <div class="parameters-wrapper__parameter-content parameter-content-wrapper">
            <div class="parameter-content-wrapper__addition">Еще +</div>
        </div>
    </div>
</div>