<div id="thanks" class="thanks-wrapper w-100">
    <div class="thanks-wrapper__thanks-block thanks-block d-flex flex-column align-items-center">
        <h2 class="thanks-block__heading text-center text-uppercase font-weight-normal">БЛАГОДАРИМ ЗА ПОКУПКУ!</h2>
        <p class="thanks-block__paragraph text-center">
            Ваш заказ успешно оформлен! <br>
            Мы свяжемся с Вами в ближайшее время.
        </p>
        <p class="thanks-block__paragraph text-center">
            Номер заказа: <span class="paragraph--red">250250</span>
        </p>
        <img src="../../assets/images/Bags.png" class="thanks-block__image">
    </div>
</div>