<main id="main-container">
    <!-- Page Content -->
    <div class="content">
        <!-- Buttons Variations -->
        <div class="row">
            <div class="col-md-6">
                <!-- Default Buttons -->
                <div class="block">
                    <div class="block-header">
                        <h3 class="block-title">Default Table</h3>
                    </div>
                    <div class="block-content padding-condensed">
                        ${require('./tables/simple-table-theme-1.html')}
                    </div>
                </div>
                <div class="block">
                    <div class="block-header">
                        <h3 class="block-title">Calendar</h3>
                    </div>
                    <div class="block-content padding-condensed">
                        ${require('./plugins/theme-1-calendar.html')}
                    </div>
                </div>
                <!-- END Default Buttons -->
            </div>
            <div class="col-md-6">
                <div class="block">
                    <div class="block-header">
                        <h3 class="block-title">Square Buttons</h3>
                    </div>
                    <div class="block-content">
                        ${require('./buttons/theme-1-buttons.html')}
                    </div>
                </div>
                <div class="block">
                    <div class="block-header">
                        <h3 class="block-title">Forms</h3>
                    </div>
                    <div class="block-content">
                        ${require('./forms/theme-1-form.html')}
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
