<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Chocomart.kz | Samsung{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" id="css-main" href="{{ asset('/assets/css/app.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
        {% block content %}
        {% endblock %}
    </div>
    <script type="text/javascript" src="{{ asset('/assets/js/vendors.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/assets/js/app.bundle.js') }}"></script>
</body>
</html>
