<ul class="dropdown-menu dropdown-with-caret">
    <li>
        <a tabindex="-1" href="#">
            <i class="fa fa-paperclip"></i>Case Notes
        </a>
    </li>
    <li>
        <a tabindex="-1" href="#">
            <i class="fa fa-book"></i>Education
        </a>
    </li>
    <li>
        <a tabindex="-1" href="#">
            <i class="fa fa-book"></i>Modify
        </a>
    </li>
    <li>
        <a tabindex="-1" href="#">
            <i class="fa fa-mail-forward"></i>Move to Inactive
        </a>
    </li>
    <li>
        <a tabindex="-1" href="#">
            <i class="fa fa-trash"></i>Delete
        </a>
    </li>
</ul>
