.main-container-wrapper {
  padding: 0 !important;
  .content-wrapper {
    padding: 30px 0 0 0;
    .block-wrapper {
      margin: 0 auto;
      width: 1280px;
      .filter-wrapper {
        width: 246px;
      }
      .products-wrapper {
        width: 912px;
        height: 200px;
        margin: 0 20px 0 32px;
        background: red;
      }
    }
  }
}