.main-container-wrapper {
  padding: 0 !important;
  .content-wrapper {
    padding: 30px 0 0 0;
    .block-wrapper {
      margin: 0 auto;
      width: 1280px;
      padding-left: 15px;
      .filter-wrapper {
        width: 246px;
      }
      .products-wrapper {
        width: 1002px;
        margin-left:32px;
      }
    }
  }
}