.products-content {
  &__title {
    font-size: @products_h1;
    color: #454D4F;
    margin-bottom: 6px;
  }
  .sort-content {
    height: 34px;
    margin-bottom: 10px;
    &__text {
      font-size: @category_size;
      color: #2d3946 !important;
      margin-right: 20px !important;
    }
    .link {
      cursor: pointer;
      text-decoration: underline;
      &:hover {
        text-decoration: underline !important;
      }
      &:active {
        text-decoration: none !important;
      }
    }
  }
  .list-content {
    position: relative;
  }
}