.product-wrapper {
  margin-right: 10px;
  width: 218px;
  position: relative;
  background: #fff;
  min-height: 315px;
  margin-top: 10px;
  transition: ease 0.4s;
  border-radius: 4px;
  .product-wrapper__content {
    .product-content {
      position: relative;
      box-sizing: border-box;
      transition: ease 0.4s;
      &__description {
        position: relative;
        height: 315px;
        .description__promotion {
          position: absolute;
          top: 0;
          right: 0;
          height: 40px;
          padding: 0 10px;
          .promotion__icon {
            height: 25px;
            width: 25px;
            margin-right: 8px;
            svg {
              path {
                fill: @choco_yellow;
              }
            }
          }
          .promotion__text {
            font-size: @bonus_size;
            color: #606060;
            line-height: 16px;
          }
        }
        .description__product-image {
          height: 186px;
          margin-bottom: 5px;
          .product-image-wrapper {
            position: relative;
            height: 138px;
            .swiper-container {
              position: absolute;
              z-index: 3;
              opacity: 0;
              .swiper-button-prev, .swiper-button-next {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 25px;
                width: 25px;
                background: #fff;
                border-radius: 50%;
                border: 1px solid @border_color;
                box-shadow: 0 0 20px 0 rgba(138, 138, 138, 0.16);
                img {
                  height: 16px;
                  width: 10px;
                }
                &:focus {
                  outline: none;
                }
              }
            }
          }
        }
        .description__text {
          height: 126px;
          padding: 0 34px;
          .text__title {
            font-size: @default_size;
            color: @default_color;
            margin-bottom: 8px;
          }
          .rating-wrapper {
            height: 13px;
            margin-bottom: 10px;
            .stars-wrapper {
              position: relative;
              width: 70px;
              background: #e9e9e9;
              &__percentage {
                position: absolute;
                background: @choco_yellow;
              }
              &__image {
                position: initial;
                z-index: 2;
              }
            }
            .rating-count-wrapper {
              width: 75px;
              font-size: @bonus_size;
              color: #c2c2c2;
              line-height: 13px;
            }
          }
          .price-wrapper {
            height: 30px;
            font-size: @price_size;
          }
        }
      }
      &__actions {
        border-top: 1px solid #ebebeb;
        background: #fff;
        transition: ease 0.4s;
        height: 94px;
      }
    }
  }
  &:hover {
    border-radius: 0 !important;
    transition: ease 0.4s;
    .product-content {
      box-shadow: 0 0 40px 0 rgba(138, 138, 138, 0.5);
      position: absolute;
      z-index: 10;
      border-radius: 4px;
      .product-content__description {
        .description__product-image {
          .product-image-wrapper {
            .default-photo {
              display: none !important;
            }
            .swiper-container {
              opacity: 1;
              z-index: 11;
            }
          }
        }
      }
    }
    .product-content__actions {
      display: block !important;
      border-radius: 0 0 4px 4px;
      transition: ease 0.4s;
      .actions__action-block {
        padding: 0 10px;
        height: 47px;
        .action-block__buttons {
          width: 50px;
          height: 32px;
        }
        .button-added {
          border: 1px solid #747474;
          border-radius: 5px;
          cursor: pointer;
          img {
            height: 24px;
            width: 22px;
            margin-right: 4px;
          }
          .arrow-wrapper {
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background: @brand_color;
            img {
              height: 10px;
              width: 10px;
            }
          }
        }
        .button-buy {
          cursor: pointer;
          border-radius: 5px;
          border: 1px solid @brand_color;
          .button-buy-plus {
            font-size: 26px;
            color: @brand_color;
            line-height: 22px;
          }
          .button-buy-cart {
            height: 24px;
            width: 22px;
            svg {
              path {
                fill: @brand_color;
              }
            }
          }
          &:hover {
            background: @brand_darker;
            .button-buy-plus {
              color: @white_color;
            }
            .button-buy-cart {
              svg {
                path {
                  fill: @white_color;
                }
              }
            }
          }
        }
        .button-focus {
          position: relative;
          width: 18px;
          height: 18px;
          cursor: pointer;
          svg {
            path {
              fill: @default_color;
            }
          }
          .button-click-count {
            position: absolute;
            top: 10px;
            left: 10px;
            border-radius: 50%;
            font-size: 10px;
            color: @white_color;
            height: 16px;
            width: 16px;
            background: @choco_yellow;
          }
          &:hover {
            svg {
              path {
                fill: @choco_yellow;
              }
            }
          }
        }
        .button-focus__heart {
          width: 21px;
          margin-left: 5px;
        }
        .action-block__input {
          height: 32px;
          width: 140px;
          border-radius: 5px;
          color: @white_color;
          text-align: center;
          font-size: @category_size;
          cursor: pointer;
          .buy-input {
            width: 110px;
            border: none;
            border-radius: 5px 0 0 5px;
            padding-left: 10px;
            font-size: 12px;
            &:focus {
              outline: none !important;
            }
          }
          .input-buy-button {
            width: 30px;
            border-radius: 0 5px 5px 0;
            border: none;
            background: transparent;
            cursor: pointer;
            .input-buy-arrow {
              width: 17px;
              height: 12px;
            }
          }
          &__bought {
            border: 1px solid @brand_color;
            color: @default_color;
            cursor: auto;
          }
          &__focused {
            border: 1px solid @choco_yellow;
            color: @default_color;
            cursor: auto;
          }
        }
        .buy {
          border: 1px solid @brand_color;
          background: @brand_color;
          &:hover {
            background: @brand_darker;
          }
          .input-buy-button {
            &:hover {
              background: @brand_darker;
            }
          }
        }
        .focus {
          border: 1px solid @choco_yellow;
          background: @choco_yellow;
          &:hover {
            background: #fdb705;
          }
          .input-buy-button {
            &:hover {
              background: #fdb705;
            }
          }
        }
        .mt10 {
          margin-top: 10px;
        }
        .mt5 {
          margin-top: 5px;
        }
      }
    }
  }
}