<div id="ChocomartHeader">
    <div class="header">
        <div class="categories" onmouseleave="leave_category()">
            <div class="categories-wrapper">
                <div class="category" id="category-1" onmouseover="hover_subcategory()">
                    <h4>
                        МОБИЛЬНЫЕ УСТРОЙСТВА
                    </h4>
                </div>
            </div>
            <div class="subcategory" id="subcategory">
                <div class="subcategory-wrapper">
                    <div class="subcategory-item col-md-3 pb-4">
                        <h4>МОБИЛЬНЫЕ УСТРОЙСТВА</h4>
                        <ul>
                            <li >
                                <a href="">
                                </a>
                            </li>
                            {#{% for category in categories %}#}
                                {#{% if (category.iParent == 0) %}#}
                                    {#<li>#}
                                        {#<a href="">#}
                                            {#{{ category.name }}#}
                                        {#</a>#}
                                    {#</li>#}
                                {#{% endif %}#}
                            {#{% endfor %}#}
                            {#<li>#}
                                {#<a href="">#}
                                    {#Наушники#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="">#}
                                    {#Портативная акустика#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="">#}
                                    {#Диктофоны#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="">#}
                                    {#Микрофоны#}
                                {#</a>#}
                            {#</li>#}
                        </ul>
                    </div>
                    <div class="subcategory-item col-md-2 pb-4">
                        <h4>РЕКОМЕНДУЕМ</h4>
                        <ul>
                            <li >
                                <a href="">
                                </a>
                            </li>
                            {#{% for category in categories %}#}
                                {#{% if (category.iParent == 11) %}#}
                                    {#<li>#}
                                        {#<a href="">#}
                                            {#{{ category.name }}#}
                                        {#</a>#}
                                    {#</li>#}
                                {#{% endif %}#}
                            {#{% endfor %}#}


                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_input">
            <div class="samsung-logo">
                <a href="/">
                    <img src="../../assets/images/logo.png" alt="">
                </a>
            </div>
        </div>
        <div class="header-buttons">
            {#<div class="header-cart">#}
                {#<a href="/order">#}
                    {#<svg  xmlns="http://www.w3.org/2000/svg" id="shopping-cart_1_" data-name="shopping-cart (1)" viewBox="0 0 21.706 23.357">#}
                        {#<path id="Path_147" d="M23.386 15.379h12.87a2.655 2.655 0 0 0 2.65-2.65V7.257a.061.061 0 0 0 0-.029v-.034-.029a.307.307 0 0 1-.01-.034c0-.01 0-.019-.01-.029s0-.019-.01-.029a.234.234 0 0 1-.014-.034.1.1 0 0 0-.014-.024l-.014-.029c0-.01-.01-.014-.014-.024s-.014-.019-.019-.029a.084.084 0 0 0-.019-.024c0-.01-.014-.014-.019-.024s-.014-.014-.019-.024-.014-.014-.019-.019l-.024-.024c-.01 0-.014-.014-.024-.019s-.019-.014-.029-.019l-.024-.014a.1.1 0 0 1-.029-.019l-.029-.014-.029-.014-.044-.019c-.01 0-.019 0-.029-.01a.089.089 0 0 0-.034-.01.208.208 0 0 1-.024 0 .106.106 0 0 0-.038 0h-.019L22.038 4.42V2.144a.3.3 0 0 0 0-.067.036.036 0 0 0 0-.019v-.043c0-.014 0-.024-.01-.038s0-.014 0-.024l-.014-.043v-.019a.144.144 0 0 0-.019-.038s0-.014-.01-.019a.1.1 0 0 0-.019-.029c0-.01-.01-.014-.014-.024s-.01-.014-.014-.024-.014-.019-.019-.029l-.014-.014-.029-.029-.014-.014a.209.209 0 0 0-.062-.031l-.019-.014c-.005-.004-.019-.014-.029-.024a.443.443 0 0 0-.038-.024s-.01 0-.014-.01l-.062-.029L18.1.052a.649.649 0 0 0-.5 1.2l3.139 1.325v14.2a2.653 2.653 0 0 0 2.307 2.623 2.615 2.615 0 1 0 4.854 1.341 2.567 2.567 0 0 0-.36-1.32h5.828a2.58 2.58 0 0 0-.36 1.32 2.616 2.616 0 1 0 2.616-2.616H23.386a1.355 1.355 0 0 1-1.354-1.354v-1.757a2.68 2.68 0 0 0 1.354.365zm3.226 5.357a1.32 1.32 0 1 1-1.32-1.32 1.322 1.322 0 0 1 1.32 1.32zm10.34 0a1.32 1.32 0 1 1-1.32-1.32 1.322 1.322 0 0 1 1.32 1.32zm-.7-6.653H23.386a1.355 1.355 0 0 1-1.354-1.354v-7L37.61 7.871v4.853a1.356 1.356 0 0 1-1.354 1.359z" class="cls-2" data-name="Path 147" transform="translate(-17.2)"/>#}
                    {#</svg>#}
                {#</a>#}
            {#</div>#}
            <div class="header-icon">
                <div class="choco-icon m-0">
                    <div class="choco-icon-svg-wrapper">
                        <div class="header-cart">
                            <a href="/order">
                                <svg  xmlns="http://www.w3.org/2000/svg" id="shopping-cart_1_" data-name="shopping-cart (1)" viewBox="0 0 21.706 23.357">
                                    <path id="Path_147" d="M23.386 15.379h12.87a2.655 2.655 0 0 0 2.65-2.65V7.257a.061.061 0 0 0 0-.029v-.034-.029a.307.307 0 0 1-.01-.034c0-.01 0-.019-.01-.029s0-.019-.01-.029a.234.234 0 0 1-.014-.034.1.1 0 0 0-.014-.024l-.014-.029c0-.01-.01-.014-.014-.024s-.014-.019-.019-.029a.084.084 0 0 0-.019-.024c0-.01-.014-.014-.019-.024s-.014-.014-.019-.024-.014-.014-.019-.019l-.024-.024c-.01 0-.014-.014-.024-.019s-.019-.014-.029-.019l-.024-.014a.1.1 0 0 1-.029-.019l-.029-.014-.029-.014-.044-.019c-.01 0-.019 0-.029-.01a.089.089 0 0 0-.034-.01.208.208 0 0 1-.024 0 .106.106 0 0 0-.038 0h-.019L22.038 4.42V2.144a.3.3 0 0 0 0-.067.036.036 0 0 0 0-.019v-.043c0-.014 0-.024-.01-.038s0-.014 0-.024l-.014-.043v-.019a.144.144 0 0 0-.019-.038s0-.014-.01-.019a.1.1 0 0 0-.019-.029c0-.01-.01-.014-.014-.024s-.01-.014-.014-.024-.014-.019-.019-.029l-.014-.014-.029-.029-.014-.014a.209.209 0 0 0-.062-.031l-.019-.014c-.005-.004-.019-.014-.029-.024a.443.443 0 0 0-.038-.024s-.01 0-.014-.01l-.062-.029L18.1.052a.649.649 0 0 0-.5 1.2l3.139 1.325v14.2a2.653 2.653 0 0 0 2.307 2.623 2.615 2.615 0 1 0 4.854 1.341 2.567 2.567 0 0 0-.36-1.32h5.828a2.58 2.58 0 0 0-.36 1.32 2.616 2.616 0 1 0 2.616-2.616H23.386a1.355 1.355 0 0 1-1.354-1.354v-1.757a2.68 2.68 0 0 0 1.354.365zm3.226 5.357a1.32 1.32 0 1 1-1.32-1.32 1.322 1.322 0 0 1 1.32 1.32zm10.34 0a1.32 1.32 0 1 1-1.32-1.32 1.322 1.322 0 0 1 1.32 1.32zm-.7-6.653H23.386a1.355 1.355 0 0 1-1.354-1.354v-7L37.61 7.871v4.853a1.356 1.356 0 0 1-1.354 1.359z" class="cls-2" data-name="Path 147" transform="translate(-17.2)"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="header-icon-dropdown">
                        <div class="header-basket-product">
                            <div class="basket-img">
                                <img width="100%" class="header-basket_img" src="https://www.bellmts.ca/file_source/mts/content_types/wireless_devices/iphones/Apple-iPhone-XsMax@2x.png" alt="">
                            </div>
                            <div class="basket-description">
                                <div class="basket-title">
                                    <h4 class="m-0">Смартфон Apple
                                        iPhone 6 32 Gb Gold
                                    </h4>
                                </div>
                                <div class="basket-info">
                                    <div class="basket-amount w-25">
                                        <h4 class="m-0">1 шт.</h4>
                                    </div>
                                    <div class="basket-price w-75 text-right">
                                        <h4 class="m-0">125 000 тг
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="basket-total d-flex justify-content-center">
                            <h4 class="m-0"><span>ИТОГО:</span> 250 000 тг</h4>
                        </div>
                        <div class="basket-button d-flex justify-content-center">
                            <a href="/order" class="basket_button">
                                Оформить заказ
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <a href="https://chocomart.kz/">
                <img class="choco-logo" src="../../assets/images/svg/logo.svg" alt="">
            </a>
        </div>
    </div>
    <div class="mobile-chocomart-header d-md-none">
        <div id="mobile-sidebar" class="mobile-sidebar">
            <div class="mobile-sidebar-wrapper">
                <ul>
                    <li><h6>МОБИЛЬНЫЕ УСТРОЙСТВА</h6></li>
                    {#{% for category in categories %}#}
                        {#{% if (category.iParent == 0) %}#}
                            {#<li>#}
                                {#<a href="">#}
                                    {#<h6>#}
                                        {#{{ category.name }}#}
                                    {#</h6>#}
                                {#</a>#}
                            {#</li>#}
                        {#{% endif %}#}
                    {#{% endfor %}#}
                    {##}
                </ul>
                <ul>
                    <li><h6>РЕКОМЕНДУЕМ</h6></li>
                    {#{% for category in categories %}#}
                        {#{% if (category.iParent == 11) %}#}
                            {#<li>#}
                                {#<a href="">#}
                                    {#<h6>#}
                                        {#{{ category.name }}#}
                                    {#</h6>#}
                                {#</a>#}
                            {#</li>#}
                        {#{% endif %}#}
                    {#{% endfor %}#}

                </ul>
            </div>
        </div>
        <div onclick="open_sidebar()" id="mobile-sidebar-background" class="mobile-sidebar-background"></div>
        <div class="mobile-header">
            <div class="mobile-header-left">
                <div onclick="open_sidebar()" class="header-burger">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 17">
                        <g id="Group_857" data-name="Group 857" transform="translate(-16 -14)">
                            <path id="Line_330" d="M20 0H0" style="fill:none;stroke:#454d4f;stroke-linecap:round" data-name="Line 330" transform="translate(16.5 14.5)"/>
                            <path id="Line_331" d="M20 0H0" style="fill:none;stroke:#454d4f;stroke-linecap:round" data-name="Line 331" transform="translate(16.5 22.5)"/>
                            <path id="Line_332" d="M20 0H0" style="fill:none;stroke:#454d4f;stroke-linecap:round" data-name="Line 332" transform="translate(16.5 30.5)"/>
                        </g>
                    </svg>
                </div>
                <div class="header-mobile-logo">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Group_852" data-name="Group 852" viewBox="0 0 92 16">
                        <g id="Group_107" data-name="Group 107" transform="translate(52.277 1.925)">
                            <path id="Path_104" d="M827.779 83.039a5.473 5.473 0 0 0-.384-2.4 1.471 1.471 0 0 0-1.434-.736 5.672 5.672 0 0 0-.824.063c-.3.038-.522.075-.673.1v8.535H822.2V78.366a14.174 14.174 0 0 1 1.711-.384 13.317 13.317 0 0 1 2.233-.182 4.136 4.136 0 0 1 1.654.283 3.262 3.262 0 0 1 1.075.748 5.757 5.757 0 0 1 .522-.346 5.338 5.338 0 0 1 .711-.333 6.716 6.716 0 0 1 .83-.252 3.876 3.876 0 0 1 .887-.1 4.4 4.4 0 0 1 1.88.352 2.8 2.8 0 0 1 1.157.994 4.131 4.131 0 0 1 .579 1.535 11.272 11.272 0 0 1 .157 1.975v5.95h-2.264v-5.56a5.7 5.7 0 0 0-.371-2.4 1.463 1.463 0 0 0-1.44-.736 2.711 2.711 0 0 0-1.031.195 2.954 2.954 0 0 0-.73.377 5.745 5.745 0 0 1 .208 1.069c.038.377.057.78.057 1.214v5.843h-2.265v-5.569z" style="fill:#fb443f" data-name="Path 104" transform="translate(-822.2 -74.831)"/>
                            <path id="Path_105" d="M1072.449 77.2a5.159 5.159 0 0 1 1.887.3 3.022 3.022 0 0 1 1.226.849 3.25 3.25 0 0 1 .654 1.327 6.934 6.934 0 0 1 .2 1.711V87.8c-.352.082-.874.176-1.579.3a15.1 15.1 0 0 1-2.384.17 6.779 6.779 0 0 1-1.61-.182 3.217 3.217 0 0 1-1.245-.585 2.745 2.745 0 0 1-.8-1.05 3.876 3.876 0 0 1-.289-1.6 3.259 3.259 0 0 1 .327-1.535 2.842 2.842 0 0 1 .887-1.019 3.7 3.7 0 0 1 1.3-.566 6.846 6.846 0 0 1 1.541-.17 6.954 6.954 0 0 1 .786.05 6.351 6.351 0 0 1 .88.17v-.4a3.42 3.42 0 0 0-.094-.811 1.708 1.708 0 0 0-.327-.679 1.56 1.56 0 0 0-.616-.453 2.519 2.519 0 0 0-.962-.164 7.843 7.843 0 0 0-1.44.12 6.26 6.26 0 0 0-1.069.283l-.283-1.981a8.517 8.517 0 0 1 1.251-.321 8.023 8.023 0 0 1 1.759-.177zm.189 9.119a7.8 7.8 0 0 0 1.591-.119v-2.711a4.364 4.364 0 0 0-.541-.12 4.983 4.983 0 0 0-.786-.063 4.37 4.37 0 0 0-.755.063 2.178 2.178 0 0 0-.692.22 1.275 1.275 0 0 0-.5.453 1.626 1.626 0 0 0 .314 1.937 2.359 2.359 0 0 0 1.369.34z" style="fill:#fb443f" data-name="Path 105" transform="translate(-1053.009 -74.269)"/>
                            <path id="Path_106" d="M1243.972 80.228a6.866 6.866 0 0 0-.774-.214 5.241 5.241 0 0 0-1.151-.113 3.946 3.946 0 0 0-.793.082 4.21 4.21 0 0 0-.591.145v8.478h-2.263V78.53a11.791 11.791 0 0 1 1.635-.5 9.353 9.353 0 0 1 2.176-.233c.151 0 .327.013.522.031s.4.05.6.082.39.075.579.119a4.142 4.142 0 0 1 .447.132z" style="fill:#fb443f" data-name="Path 106" transform="translate(-1212.224 -74.831)"/>
                            <path id="Path_107" d="M1356.212 31l2.264-.4v3.195h3.478v2.044h-3.478v4.308a3.353 3.353 0 0 0 .371 1.818 1.429 1.429 0 0 0 1.271.547 3.661 3.661 0 0 0 1.094-.145 6.192 6.192 0 0 0 .755-.264l.371 1.943a8.031 8.031 0 0 1-1.031.371 5.27 5.27 0 0 1-1.5.195 4.426 4.426 0 0 1-1.748-.3 2.628 2.628 0 0 1-1.113-.88 3.6 3.6 0 0 1-.579-1.4 9.3 9.3 0 0 1-.17-1.874V31z" style="fill:#fb443f" data-name="Path 107" transform="translate(-1322.615 -30.6)"/>
                        </g>
                        <g id="Group_108" data-name="Group 108">
                            <path id="Path_108" d="M6.39 36.429a6.5 6.5 0 0 1-2.516-.484 5.677 5.677 0 0 1-2.025-1.415A6.665 6.665 0 0 1 .5 32.234a9.081 9.081 0 0 1-.5-3.126 8.481 8.481 0 0 1 .535-3.126 6.907 6.907 0 0 1 1.428-2.3 5.914 5.914 0 0 1 2.063-1.409 6.5 6.5 0 0 1 2.446-.473 9.048 9.048 0 0 1 1.434.1 8.087 8.087 0 0 1 1.132.252 8.607 8.607 0 0 1 .83.3 4.928 4.928 0 0 1 .528.27l-.446 1.197a8.3 8.3 0 0 0-1.283-.6 5.54 5.54 0 0 0-1.931-.3 5.536 5.536 0 0 0-2.3.447 4.578 4.578 0 0 0-1.648 1.252 5.557 5.557 0 0 0-1 1.937 8.657 8.657 0 0 0-.333 2.465 8.892 8.892 0 0 0 .333 2.516 5.343 5.343 0 0 0 .981 1.912 4.351 4.351 0 0 0 1.585 1.214 5.2 5.2 0 0 0 2.157.428 8.305 8.305 0 0 0 2.233-.252 6.457 6.457 0 0 0 1.365-.516l.384 1.176a2.326 2.326 0 0 1-.484.233 9.129 9.129 0 0 1-.868.27 9.956 9.956 0 0 1-1.214.233 12.663 12.663 0 0 1-1.537.095z" style="fill:#454d4f" data-name="Path 108" transform="translate(0 -20.429)"/>
                            <path id="Path_109" d="M187.5 15.7V.245L188.814 0v5.541a8.215 8.215 0 0 1 1.314-.377 6.894 6.894 0 0 1 1.333-.132 5.135 5.135 0 0 1 2.025.346 3.093 3.093 0 0 1 1.3.981 3.9 3.9 0 0 1 .679 1.528 9.426 9.426 0 0 1 .195 1.962v5.843h-1.314V10.27a9.918 9.918 0 0 0-.151-1.881 3.165 3.165 0 0 0-.5-1.252 2 2 0 0 0-.943-.7 4.3 4.3 0 0 0-1.478-.214 4.416 4.416 0 0 0-.736.063q-.4.057-.736.132c-.226.05-.434.1-.616.151a3.374 3.374 0 0 0-.352.119v9H187.5z" style="fill:#454d4f" data-name="Path 109" transform="translate(-175.708)"/>
                            <path id="Path_110" d="M353.76 84.884a6.836 6.836 0 0 1-.352 2.245 5.013 5.013 0 0 1-.994 1.717 4.518 4.518 0 0 1-1.509 1.1 4.642 4.642 0 0 1-5.359-1.1 5.012 5.012 0 0 1-.994-1.717 6.675 6.675 0 0 1-.352-2.245 6.836 6.836 0 0 1 .352-2.245 5.029 5.029 0 0 1 .994-1.73 4.467 4.467 0 0 1 1.509-1.113 4.872 4.872 0 0 1 3.849 0 4.531 4.531 0 0 1 1.509 1.113 5.132 5.132 0 0 1 .994 1.73 6.675 6.675 0 0 1 .353 2.245zm-1.39 0a4.915 4.915 0 0 0-.912-3.126 3.194 3.194 0 0 0-4.931 0 4.954 4.954 0 0 0-.912 3.126 4.866 4.866 0 0 0 .912 3.116 3.216 3.216 0 0 0 4.931 0 4.9 4.9 0 0 0 .912-3.116z" style="fill:#454d4f" data-name="Path 110" transform="translate(-322.552 -74.406)"/>
                            <path id="Path_111" d="M520.456 90.418a5.553 5.553 0 0 1-2.145-.384 4.018 4.018 0 0 1-1.547-1.1 5.037 5.037 0 0 1-.943-1.717 7.764 7.764 0 0 1 .013-4.459 5.039 5.039 0 0 1 .962-1.742 4.182 4.182 0 0 1 1.516-1.12 4.852 4.852 0 0 1 2-.4 8.385 8.385 0 0 1 1.585.145 3.949 3.949 0 0 1 1.145.365l-.346 1.132a4.09 4.09 0 0 0-.912-.321 5.991 5.991 0 0 0-1.352-.119 3.211 3.211 0 0 0-2.642 1.119 5 5 0 0 0-.9 3.189 6.934 6.934 0 0 0 .2 1.711 3.322 3.322 0 0 0 .66 1.333 3.012 3.012 0 0 0 1.176.868 4.388 4.388 0 0 0 1.748.314 4.446 4.446 0 0 0 1.428-.195 5.25 5.25 0 0 0 .836-.333l.283 1.132a5.279 5.279 0 0 1-1.145.4 7.127 7.127 0 0 1-1.62.182z" style="fill:#454d4f" data-name="Path 111" transform="translate(-483.079 -74.5)"/>
                            <path id="Path_112" d="M656.76 84.884a6.839 6.839 0 0 1-.352 2.245 5.014 5.014 0 0 1-.994 1.717 4.517 4.517 0 0 1-1.509 1.1 4.643 4.643 0 0 1-5.359-1.1 5.012 5.012 0 0 1-.994-1.717 6.676 6.676 0 0 1-.352-2.245 6.835 6.835 0 0 1 .352-2.245 5.029 5.029 0 0 1 .994-1.73 4.468 4.468 0 0 1 1.51-1.113 4.872 4.872 0 0 1 3.849 0 4.53 4.53 0 0 1 1.509 1.113 5.134 5.134 0 0 1 .994 1.73 6.839 6.839 0 0 1 .352 2.245zm-1.4 0a4.916 4.916 0 0 0-.912-3.126 3.194 3.194 0 0 0-4.931 0 4.953 4.953 0 0 0-.912 3.126 4.865 4.865 0 0 0 .916 3.116 3.216 3.216 0 0 0 4.931 0 4.866 4.866 0 0 0 .912-3.116z" style="fill:#454d4f" data-name="Path 112" transform="translate(-606.496 -74.406)"/>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="header-mobile-icons">
                <img width="20px" src="../../assets/images/svg/search.svg" alt="">
                <img width="20px" src="../../assets/images/svg/shopping-cart.svg" alt="">
                <img width="20px" src="../../assets/images/svg/user.svg" alt="">
            </div>
        </div>
    </div>

</div>
<script>
    function open_sidebar() {
        document.getElementById("mobile-sidebar").classList.toggle("open_sidebar");
        document.getElementById("mobile-sidebar-background").classList.toggle("block_background");
    }
    function leave_category() {
        var category = document.getElementById('category-1');
        category.classList.remove('category-active');
        document.getElementById('subcategory').style.display = 'none';

    }
    function hover_subcategory() {
        var category = document.getElementById('category-1');
        category.classList.add('category-active');
        document.getElementById('subcategory').style.display = 'flex';
    }
</script>
