<div class="chocomart-loader">
    <div class="chocomart_logo">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        {#<img src="../../assets/images/new_logo.png" alt="">#}
    </div>
</div>