<main id="main-container" class="main-container-wrapper">
    <!-- Page Content -->
    <div class="content-wrapper m-0">
        <div class="content-wrapper__block block-wrapper d-flex ">
            <div class="block-wrapper__products products-wrapper col-12 col-sm-8 col-md-9 col-lg-9 no-padding">
                ${require('./products.twig')}
            </div>
        </div>
    </div>
    <!-- END Page Content -->
</main>
