<div id="registration-sign" class="registration-sign">
    <div class="registration-sign-container">
        <div class="registration-sign_close-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.699 29.699">
                <g id="Group_809" data-name="Group 809" transform="rotate(45 766.297 -530.41)">
                    <path style="fill:none;stroke:#162aa1;stroke-linecap:round;stroke-width:3px" id="Line_2" d="M0 0v36" data-name="Line 2" transform="translate(620.5 368.5)"/>
                    <path style="fill:none;stroke:#162aa1;stroke-linecap:round;stroke-width:3px" id="Line_3" d="M0 0v36" data-name="Line 3" transform="rotate(90 126 512.5)"/>
                </g>
            </svg>
        </div>
        <div class="registration-sign-form">
            <div class="registration-form">
                <h4 class="text-center">РЕГИСТРАЦИЯ</h4>
                <label for="name" class="inp">
                    <input type="text" id="name" placeholder="&nbsp;">
                    <span class="label">Имя</span>
                    <span class="border"></span>
                </label>
                <label for="tel" class="inp">
                    <input type="text" id="tel" placeholder="&nbsp;">
                    <span class="label">Телефон (+7 XXX XXX XX XX)</span>
                    <span class="border"></span>
                </label>
                <label for="email" class="inp">
                    <input type="email" id="email" placeholder="&nbsp;">
                    <span class="label">Email</span>
                    <span class="border"></span>
                </label>
                <label for="password" class="inp">
                    <input type="password" id="password" placeholder="&nbsp;">
                    <span class="label">Password</span>
                    <span class="border"></span>
                </label>
                <label for="re_password" class="inp">
                    <input type="password" id="re_password" placeholder="&nbsp;">
                    <span class="label">Repeat password</span>
                    <span class="border"></span>
                </label>
                <button class="registration_button">РЕГИСТРАЦИЯ</button>
                <h5 class="text-center">если есть аккаунт <a class="registration-to-login">войти</a></h5>
            </div>
            <div class="login-form">
                <h4 class="text-center">ВОЙТИ</h4>
                <label for="login_email" class="inp">
                    <input type="email" id="login_email" placeholder="&nbsp;">
                    <span class="label">Email</span>
                    <span class="border"></span>
                </label>
                <label for="login_password" class="inp">
                    <input type="password" id="login_password" placeholder="&nbsp;">
                    <span class="label">Password</span>
                    <span class="border"></span>
                </label>
                <button class="registration_button">ВОЙТИ</button>
                <h5 class="text-center">нет аккаунта? <a class="login-to-registration">регистрация</a></h5>
            </div>
        </div>
    </div>
</div>