<div class="swiper-container main-slider_wrapper slider-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide slider-img">
        </div>
        <div class="swiper-slide slider-img">
        </div>
        <div class="swiper-slide slider-img">
        </div>
    </div>
    <div class="swiper-pagination slider-pagination"></div>
</div>
<style>
</style>
<script type="application/javascript">
    var slider = new Swiper('.slider-container', {
        centeredSlides: true,
        loop: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false
        },
        pagination: {
            el: '.slider-pagination',
            clickable: true
        }
    });
</script>