<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" action="base_forms_elements.html" method="post" enctype="multipart/form-data" onsubmit="return false;">
            <div class="form-group">
                <label class="col-xs-12" for="example-disabled-input">Datepicker</label>
                <div class="col-sm-12">
                    <input class="form-control js-datetimepicker date" type="text"
                           id="example-datetimepicker3" name="example-datetimepicker3"
                           placeholder="mm/dd/yyyy" data-show-today-button="true"
                           data-show-clear="true" data-show-close="true">
                    <span class="fa fa-calendar form-control-feedback"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12" for="example-disabled-input">Disabled</label>
                <div class="col-sm-12">
                    <input class="form-control" type="text" id="example-disabled-input" name="example-disabled-input" placeholder="Disabled.." disabled="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12" for="example-textarea-input">Textarea</label>
                <div class="col-xs-12">
                    <textarea class="form-control" id="example-textarea-input" name="example-textarea-input" rows="6" placeholder="Content.."></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12" for="example-select">Select</label>
                <div class="col-sm-12">
                    <select class="form-control" id="example-select" name="example-select" size="1">
                        <option value="0">Please select</option>
                        <option value="1">Option #1</option>
                        <option value="2">Option #2</option>
                        <option value="3">Option #3</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12" for="example-multiple-select">Multiple Select</label>
                <div class="col-sm-12">
                    <select class="form-control" id="example-multiple-select" name="example-multiple-select" size="5" multiple="">
                        <option value="1">Option #1</option>
                        <option value="2">Option #2</option>
                        <option value="3">Option #3</option>
                        <option value="4">Option #4</option>
                        <option value="5">Option #5</option>
                        <option value="6">Option #6</option>
                        <option value="7">Option #7</option>
                        <option value="8">Option #8</option>
                        <option value="9">Option #9</option>
                        <option value="10">Option #10</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <form class="form-horizontal" action="base_forms_elements.html" method="post" enctype="multipart/form-data" onsubmit="return false;">
            <div class="form-group">
                <label class="col-xs-12" for="example-text-input">Text</label>
                <div class="col-sm-12">
                    <input class="form-control" type="text" id="example-text-input" name="example-text-input" placeholder="Text..">
                    <div class="help-block">Further info about this input</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12" for="example-email-input">Email</label>
                <div class="col-sm-12">
                    <input class="js-tags-input form-control" type="email" id="example-email-input" name="example-email-input" placeholder="Email..">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12" for="example-password-input">Password</label>
                <div class="col-sm-12">
                    <input class="form-control" type="password" id="example-password-input" name="example-password-input" placeholder="Password..">
                </div>
            </div>
            <div class="form-group has-primary">
                <label class="col-xs-12" for="example-text-input-Primary">Primary State</label>
                <div class="col-sm-12">
                    <input class="form-control" type="text" id="example-text-input-primary" name="example-text-input-primary" placeholder="Primary State..">
                </div>
            </div>
            <div class="form-group has-success">
                <label class="col-xs-12" for="example-text-input-success">Success State</label>
                <div class="col-sm-12">
                    <input class="form-control" type="text" id="example-text-input-success" name="example-text-input-success" placeholder="Success State..">
                </div>
            </div>
            <div class="form-group has-info">
                <label class="col-xs-12" for="example-text-input-info">Info State</label>
                <div class="col-sm-12">
                    <input class="form-control" type="text" id="example-text-input-info" name="example-text-input-info" placeholder="Info State..">
                </div>
            </div>
            <div class="form-group has-warning">
                <label class="col-xs-12" for="example-text-input-warning">Warning State</label>
                <div class="col-sm-12">
                    <input class="form-control" type="text" id="example-text-input-warning" name="example-text-input-warning" placeholder="Warning State..">
                </div>
            </div>
        </form>
    </div>
</div>
